## 通用配置文件

CONFIG_DEVEL=y
CONFIG_TARGET_OPTIONS=y
CONFIG_TARGET_OPTIMIZATION="-O3 -pipe -march=armv8-a+crypto+crc -mcpu=cortex-a53+crypto+crc -mtune=cortex-a53"

CONFIG_CCACHE=y
CONFIG_PACKAGE_default-settings=y
CONFIG_PACKAGE_default-settings-chn=y
CONFIG_TARGET_PER_DEVICE_ROOTFS=y
CONFIG_LUCI_LANG_zh_Hant=y

# CONFIG_FEED_nss_packages is not set
# CONFIG_FEED_sqm_scripts_nss is not set
# CONFIG_TARGET_ROOTFS_INITRAMFS is not set


#----------------------------------add-------------------------------
# BUSYBOX
CONFIG_BUSYBOX_CUSTOM=y
CONFIG_BUSYBOX_CONFIG_TELNET=y

#opkg 
#yml文件同步更改apk为ipk
#【mv -f $OPENWRT_PATH/bin/packages/*/*/*.apk packages】➡【mv -f $OPENWRT_PATH/bin/packages/*/*/*.ipk packages】
CONFIG_USE_APK=n
CONFIG_PACKAGE_luci-lib-ipkg=y

#订阅转换后端服务
#然后在 OpenClash > 配置订阅中，填写自定义订阅转换服务地址：http://127.0.0.1:25500/sub
CONFIG_PACKAGE_subconverter=y

# Kernel modules
CONFIG_PACKAGE_kmod-fs-exfat=y
CONFIG_PACKAGE_kmod-fs-vfat=y
CONFIG_PACKAGE_kmod-netlink-diag=y
CONFIG_PACKAGE_kmod-inet-diag=y
CONFIG_PACKAGE_kmod-tls=y
CONFIG_PACKAGE_kmod-tun=y

#  USB Support
CONFIG_PACKAGE_kmod-usb2=y
CONFIG_PACKAGE_kmod-usb3=y
CONFIG_PACKAGE_kmod-usb-ohci=y
CONFIG_PACKAGE_kmod-usb-uhci=y
CONFIG_PACKAGE_kmod-usb-ehci=y
CONFIG_PACKAGE_kmod-usb-xhci=y
# CONFIG_PACKAGE_kmod-usb-acm=y
# CONFIG_PACKAGE_kmod-usb-serial-qualcomm=y
# CONFIG_PACKAGE_kmod-usb-storage=y
# CONFIG_PACKAGE_kmod-usb-storage-extras=y
# CONFIG_PACKAGE_kmod-usb-storage-uas=y

#  USB 无线网卡CPE Support
# CONFIG_PACKAGE_kmod-usb-net-huawei-cdc-ncm=n
# CONFIG_PACKAGE_kmod-usb-net-ipheth=n
# CONFIG_PACKAGE_kmod-usb-net-rndis=n
# CONFIG_PACKAGE_kmod-usb-net-asix-ax88179=n
# CONFIG_PACKAGE_kmod-usb-net-rtl8152=n
# CONFIG_PACKAGE_kmod-usb-net-sierrawireless=n

#  mwan3 dependencies
#CONFIG_PACKAGE_kmod-macvlan=n
#  mwan3 dependencies
#CONFIG_PACKAGE_iptables-mod-conntrack-extra=n

# Libraries
CONFIG_PACKAGE_python3-netifaces=y
CONFIG_PACKAGE_luci-compat=y
#  CONFIG_PACKAGE_libopenssl-legacy=y
#  CONFIG_PACKAGE_openssl-util=y

#  iptables nft
CONFIG_PACKAGE_iptables-nft=y
CONFIG_PACKAGE_ip6tables-nft=y
#----------------------------------add------------------------------


CONFIG_PACKAGE_tmux=y
CONFIG_PACKAGE_dmesg=y
CONFIG_PACKAGE_htop=n
CONFIG_PACKAGE_btop=n
CONFIG_PACKAGE_fdisk=n
CONFIG_PACKAGE_cfdisk=n
CONFIG_PACKAGE_sgdisk=n
CONFIG_PACKAGE_tune2fs=n
CONFIG_PACKAGE_ariang=y
CONFIG_PACKAGE_fstrim=y
CONFIG_PACKAGE_nano-full=y
CONFIG_PACKAGE_autocore=y
CONFIG_PACKAGE_coremark=y
CONFIG_PACKAGE_zram-swap=y
CONFIG_PACKAGE_kmod-lib-lz4=y
CONFIG_PACKAGE_hdparm=y
CONFIG_PACKAGE_smartmontools-drivedb=n
CONFIG_PACKAGE_zoneinfo-asia=y
CONFIG_PACKAGE_acme-acmesh-dnsapi=n
CONFIG_PACKAGE_openssh-sftp-server=n
#sshd和dropbear两个服务冲突了，重启后root密码无法登录，固件不集成openssh-server
CONFIG_PACKAGE_ddns-scripts-cloudflare=n
CONFIG_PACKAGE_sqm-scripts-nss=y

CONFIG_PACKAGE_luci-theme-aurora=y
CONFIG_PACKAGE_luci-app-aurora-config=y
CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_luci-app-argon-config=y
CONFIG_PACKAGE_luci-app-cpufreq=y
CONFIG_PACKAGE_luci-app-ddns=n
CONFIG_PACKAGE_luci-app-ttyd=y
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-app-wolplus=y
CONFIG_PACKAGE_luci-app-samba4=y
CONFIG_PACKAGE_luci-app-vlmcsd=y
CONFIG_PACKAGE_luci-app-aria2=y
CONFIG_PACKAGE_luci-app-autoreboot=y
CONFIG_PACKAGE_luci-app-wifischedule=n
CONFIG_PACKAGE_luci-app-uhttpd=n
CONFIG_PACKAGE_luci-app-frps=n
CONFIG_PACKAGE_luci-app-frpc=y
CONFIG_PACKAGE_luci-app-diskman=y
CONFIG_PACKAGE_luci-app-hd-idle=n
CONFIG_PACKAGE_luci-app-banip=n
CONFIG_PACKAGE_luci-app-acme=n
CONFIG_PACKAGE_luci-app-arpbind=y
CONFIG_PACKAGE_luci-app-usb-printer=n
CONFIG_PACKAGE_luci-app-homeproxy=n
CONFIG_PACKAGE_luci-app-oaf=n
CONFIG_PACKAGE_luci-app-sqm=y
CONFIG_PACKAGE_luci-proto-wireguard=n
CONFIG_PACKAGE_luci-app-wechatpush=n
CONFIG_PACKAGE_luci-app-watchcat=y
CONFIG_PACKAGE_luci-app-3cat=n


#------------------------------add----------------------------
CONFIG_PACKAGE_ariang=n
CONFIG_PACKAGE_adguardhome=n
CONFIG_PACKAGE_luci-app-adguardhome=n
CONFIG_PACKAGE_luci-app-openclash=y
CONFIG_PACKAGE_luci-app-openlist2=y
CONFIG_PACKAGE_luci-app-xunlei=y
#------------------------------add----------------------------



#  docker dependencies
#CONFIG_PACKAGE_iptables-mod-extra=y
#CONFIG_PACKAGE_ip6tables-mod-fullconenat=y
#CONFIG_PACKAGE_iptables-mod-fullconenat=y
#CONFIG_PACKAGE_libip4tc=y
#CONFIG_PACKAGE_libip6tc=y

#  docker kernel dependencies
#CONFIG_DOCKER_CGROUP_OPTIONS=y
#CONFIG_DOCKER_NET_MACVLAN=y
#CONFIG_DOCKER_OPTIONAL_FEATURES=y
#CONFIG_DOCKER_STO_EXT4=y
#CONFIG_PACKAGE_kmod-br-netfilter=y
#CONFIG_PACKAGE_kmod-ip6tables=y
#CONFIG_PACKAGE_kmod-ipt-conntrack=y
#CONFIG_PACKAGE_kmod-ipt-fullconenat=y
#CONFIG_PACKAGE_kmod-ipt-conntrack=y
#CONFIG_PACKAGE_kmod-ipt-extra=y
#CONFIG_PACKAGE_kmod-ipt-nat=y
#CONFIG_PACKAGE_kmod-ipt-nat6=y
#CONFIG_PACKAGE_kmod-ipt-physdev=y
#CONFIG_PACKAGE_kmod-nf-ipt6=y
#CONFIG_PACKAGE_kmod-nf-ipvs=y
#CONFIG_PACKAGE_kmod-nf-nat6=y
#CONFIG_PACKAGE_kmod-dummy=y
#CONFIG_PACKAGE_kmod-veth=y

#CONFIG_PACKAGE_docker=y
#CONFIG_PACKAGE_docker-compose=y
#CONFIG_PACKAGE_dockerd=y
#CONFIG_PACKAGE_luci-app-dockerman=y
#CONFIG_PACKAGE_luci-i18n-dockerman-zh-cn=y
#CONFIG_PACKAGE_luci-lib-docker=y
